.benefits {

  &__wrapper {
    background-color: var(--clr-default-500);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7.5rem;
    padding-right: 3rem;
    padding-bottom: 7.5rem;
    padding-left: 3rem;

    @media (max-width: em(1200)) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @media (max-width: em(767)) {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    padding-top: 13rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    min-width: 33%;

    &:not(:last-child) {
      border-right: 0.1rem solid var(--clr-text-450);

      @media (max-width: em(992)) {
        border-right: initial;
      }

      @media (max-width: em(767)) {
        margin-bottom: 3rem;
        border-bottom: 0.1rem solid var(--clr-text-450);
      }
    }

    &--1, &--2, &--3 {
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        transform: translateX(-50%);
      }
    }

    &--1 {
      &::before {
        width: 10rem;
        height: 10rem;
        background-image: url(../img/benefits/benefits1.svg);

        @media (max-width: em(1200)) {
          width: 7rem;
          height: 7rem;
        }

        @media (max-width: em(992)) {
          width: 5rem;
          height: 5rem;
        }
      }
    }

    &--2 {
      &::before {
        width: 11.5rem;
        height: 10rem;
        background-image: url(../img/benefits/benefits2.svg);

        @media (max-width: em(1200)) {
          width: 8rem;
          height: 7rem;
        }

        @media (max-width: em(992)) {
          width: 5.1rem;
          height: 4.5rem;
        }
      }
    }

    &--3 {
      &::before {
        width: 10rem;
        height: 11.5rem;
        background-image: url(../img/benefits/benefits3.svg);

        @media (max-width: em(1200)) {
          width: 7rem;
          height: 8rem;
        }

        @media (max-width: em(992)) {
          width: 5.1rem;
          height: 5.5rem;
        }
      }
    }

    @media (max-width: em(1200)) {
      padding-top: 10rem;
    }

    @media (max-width: em(992)) {
      padding-top: 8rem;
      padding-bottom: initial;
    }

    @media (max-width: em(767)) {
      padding-bottom: 2rem;
      min-width: 100%;
    }
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: fluid-font(2.5rem, 1.8rem);
    letter-spacing: 0.265em;
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-default-100);

    @media (max-width: em(992)) {
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: fluid-font(2.5rem, 1.8rem);
    text-align: center;
    color: var(--clr-default-100);

    @media (max-width: em(992)) {
      font-size: 1.6rem;
    }
  }
}
