.about {
  background-image: -webkit-image-set(
    url(../img/about/bg@2x.jpg) 2x,
    url(../img/about/bg@1x.jpg) 1x
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    padding-top: 10rem;
    padding-bottom: 25rem;

    @media (max-width: em(1500)) {
      padding-bottom: 15rem;
    }

    @media (max-width: em(1200)) {
      padding-bottom: 10rem !important;
    }

    @media (max-width: em(992)) {
      padding-top: 8rem;
    }

    @media (max-width: em(767)) {
      padding-top: 6rem;
      padding-bottom: 6rem !important;
    }
  }

  &__title {
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: center;
    color: var(--clr-default-100);
  }

  &__text {
    margin-right: auto;
    margin-bottom: 7rem;
    margin-left: auto;
    max-width: 100rem;
    p {
      font-weight: 400;
      line-height: 160%;
      text-align: center;
      color: var(--clr-default-100);

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    @media (max-width: em(767)) {
      margin-bottom: 3rem;
    }
  }

  &__button {
    margin-right: auto;
    margin-left: auto;
  }
}
